body {
  background-color: #f5f5f5;
  background-image: url(../../images/concrete-wall-transparent-texture.png);
}

a {
  color: hsl(217, 45%, 45%);
}

.course-headline {
  cursor: pointer;
}
.course-headline:hover {
  font-weight: bolder;
}

dd {
  font-weight: 300;
}
dd:not(:last-child) {
  margin-bottom: 1.5em;
}
dt {
  font-weight: 500;
}

.headline {
  position: relative;
  text-align: center;
}

.headline span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.headline:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}
.headline:before {
  left: 0;
}

.external {
  color: white;
  position: relative;
  text-align: center;
}
.external span {
  background: hsl(217, 45%, 45%);
  padding: 0 15px;
  position: relative;
  z-index: 1;
}
.external:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}
.external:before {
  left: 0;
}

p.header-text {
  font-size: .75rem;
}
p::selection, h1::selection, ::selection {
  background-color: #dbe8ff;
  color: #235ebc;
}

ul {
  list-style: none;
}

.card-boxing {
  background-color: white;
  padding: 25px;
}

.column-shadow {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(163,163,163,1);
  -moz-box-shadow: 3px 3px 5px 0px rgba(163,163,163,1);
  box-shadow: 3px 3px 5px 0px rgba(163,163,163,1);
}

.is-2 {
  padding-right: 0px;
  padding: 0;
}

.columns {
  padding: 0;
}

.course-detail {
  margin-left: 0;
}

.course:not(:last-child)  {
  padding-bottom: 0em;
}

.cv-section {
  margin-bottom: 15px;
}

.cvitem {
  padding: 0 0 0 2em;
}

.cvitem:not(:last-child) {
  margin-bottom: 1.5em;
}

.detail-item {
  margin-bottom: 1rem;
}
.headline .icon {
  margin-right: 1.125rem;
}

.header-text {
  margin-bottom: 0px !important;
}

.profile {
  background-color: hsl(217, 45%, 45%);
  height: 100%;
  padding: 15px;
}

.profile-image img {
  padding: 2px;
}

.subheader-text {
  font-size: 1rem;
}
.timeline {
  float: left;
}
.timeline-bar {
  border-left: 0.1rem dashed #dbdbdb;
  color: transparent;
  line-height: 5em;
  margin-left: 10px;
  padding-bottom: 0em;
}

div.profile p.title {
  font-family: 'Roboto', serif;
}

div.profile p.subtitle {
  font-family: 'Roboto', serif;
}

.headline span {
  font-family: 'Merriweather Sans', serif;
}

div.profile p.header-text {
  font-size: 1.15rem;
  font-family: 'Roboto', serif;
}

div.profile p.subheader-text {
  font-family: 'Roboto', serif;
}

.content figure {
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: #f5f5f5;
  background-image: url(../../images/concrete-wall-transparent-texture.png);
}

img.employees-logo {
    max-width: 10rem;
    max-height: 3rem;
}

div#summary ol {
  margin: 0;
  padding: 0;
}
div#summary ol li {
  color: #4a4a4a;
  margin: 5px 0 5px 10px;
  text-shadow: 0 1px 0 white;
  list-style-type: none;
}
div#summary ol li:before {
  content: '\25ca';
  display: inline-block;
  color: white;
  padding: 2px;
  border-radius: .5px;
  float: left;
  clear: left;
  text-shadow: -1px -1px 0 #4a4a4a;
  margin-left: -10px;
  padding: 2px 10px 0 0;
}
div#education {
  margin-bottom: 0;
}
div#honors div.timeline-bar {
  line-height: 1rem;
  display: none;
}
div#honors div.timeline div.circle {
  display: none;
}
div#honors {
  margin-bottom: 0;
}

div#honors h1.headline {
  font-size: 0.75rem;
}

div#honors  article.media p.title.is-4 {
  font-weight: normal;
}

@media screen {
  .print-only, .print-only *
  {
    display: none !important;
  }
}

@media print {

  .no-print, .no-print *
  {
    display: none !important;
  }

  body {
    font-size:80%;
  }

  div.detail-item p.header-text {
    font-size: 0.85rem;
  }
  div.detail-item p.subheader-text, div.external, div#languages.content h1.headline span, div.detail-item, div#languages.content dd {
    font-size: 0.75rem;
  }
  div.external, div#languages {
    margin-bottom: 1rem;
  }
  div.external span, div#languages.content h1.headline span {
    padding: 0;
    padding-right: 0.25rem;
    padding-left: -0.25rem;
  }
  img.employees-logo {
    max-width: 5rem;
  }
  .title.is-4 {
    font-size:1rem;
  }
  .subtitle {
    font-size:1rem;
    padding-top:1rem;
  }
  article.media {
    font-size: 80%;
  }
  
  label.vue-switcher {
    display: none;
  }

  figure.image.profile-image {
    width:80%;
  }

  div.media-content div.content p.has-text-justified {
    /*line-height: 1.15rem;*/
  }

  div#skills dl.cvitem{
    line-height: 0.75rem;
  }

  div.timeline div.timeline-bar {
    line-height: 1.5rem;
  }

  div.timeline .tag:not(body).is-medium {
    font-size: 0.75rem;
  }

  section.screenshots {
    display: none;
  }

  section.videos {
    display: none;
  }
}