<div>
  <section class="section">
    <div class="content">
      <div class="columns is-8 is-centered">
        <div class="column is-2 column-shadow">
          <ProfileView/>
        </div>
        <div class="column is-6 card-boxing column-shadow">
          <SummaryComponent />
          <BiographyComponent v-if="displaySection('biography')" class="cv-section"/>
          <EmploymentComponent v-if="displaySection('employment')" class="cv-section"/>
          <PortfolioComponent v-if="displaySection('portfolio')" class="cv-section"/>
          <EducationComponent v-if="displaySection('education')" class="cv-section"/>
          <SkillsComponent v-if="displaySection('skills')" class="cv-section"/>
          <EventsComponent v-if="displaySection('events')" class="cv-section no-print"/>
          <ExploringComponent v-if="displaySection('exploring')" class="cv-section no-print"/>
        </div>
      </div>
    </div>
  </section>
  <FooterComponent/>
</div>
