<div class="content">
  <h1 class="headline">
    <span>
      <span class="icon">
        <i class="fa fa-briefcase"></i>
      </span>{{$t("message.portfolio")}}
    </span>
  </h1>
  <div class="cvitem" v-for="folio in portfolio.items">
    <article class="media">
      <div class="media-left">
        <TimelineComponent :start="folio.start" :end="folio.end"></TimelineComponent>
      </div>
      <div class="media-content">
        <div class="content">
          <p class="title is-4 "><a>{{folio.employer}}</a> / {{folio.project}}
          <a v-if="folio.website" class="icon fa fa-link" :href="folio.website"></a></p>
          <p class="subtitle">{{folio.tagline}}</p>
          <p class="has-text-justified">{{folio.description}}</p>
          <section class="screenshots" v-if="advancedMode && folio.images.length > 0">
            <figure class="stack stack-fanout active">
              <img v-for="(image, index) in folio.images" style="display: inline-block; height: 100px;" v-lazy="image.src" @click="openGallery(folio.project, index)"/>
            </figure>
          </section>
          <LightBox v-if="folio.images.length > 0" :ref="'lightbox' + folio.project" :images="folio.images" :show-caption="true" :show-light-box="false"></LightBox>
        </div>
      </div>
    </article>
  </div>
</div>
